# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized and converted 
# to native line endings on checkout.
*.cs text eol=lf
*.cshtml text eol=lf
*.html text eol=lf
*.js text eol=lf
*.md text eol=lf
*.css text eol=lf
*.svg text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf
.gitmodules text eol=lf
.gitattributes text eol=lf

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
*.csproj text eol=crlf
*.vbproj text eol=crlf
*.targets text eol=crlf
*.shfbproj text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.gif binary
*.eot binary
*.otf binary
*.ttf binary
*.woff binary
*.ico binary

